<div class="p-5 container">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-6">
            <h4 class="pb-4 text-center fw-bold fs-3">{{'signup'|translate}}</h4>
            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate
                class="open_box d-flex flex-column  py-5 px-5">
                <div class="failed_message  mb-3 px-3 border" *ngIf="errorMessage">
                    <small>{{'usernameorPasswordIncorrect'|translate}}</small>
                </div>

                <!--------------------- -->
                <!-- username field -->
                <!--------------------- -->
                <div class="mb-4">
                    <label for="username" class="form-label">{{'username'|translate}} </label>
                    <input type="username" class="form-control" id="username" formControlName="username"
                        (keydown.enter)="login()" name="username" autocomplete="off">
                    <!-- For Error message -->
                    <small class="text-danger" *ngIf="isControlInvalid('username')">Username is required</small>
                </div>

                <!--------------------- -->
                <!-- password field -->
                <!--------------------- -->
                <div class="mb-4">
                    <div class="d-flex justify-content-between">
                        <label for="password" class="form-label">{{'password'|translate}}</label>
                    </div>
                    <input type="password" formControlName="password" (keydown.enter)="login()" class="form-control"
                        name="password" autocomplete="false">
                    <!-- For Error message -->
                    <small class="text-danger" *ngIf="isControlInvalid('password')">Password is required</small>
                </div>
                <!----------------------->
                <button type="submit" class="btn btn-primary mt-4" [disabled]="!loginForm.valid"
                    (keydown.enter)="login()">{{'signup'|translate}}</button>
                <div class="d-flex mt-3 m-auto ">

                </div>
                <div class="d-flex mt-3 m-auto ">
                    <a class="register" routerLink="./register">{{'getstareted'|translate}}</a>
                </div>
            </form>
        </div>
        <div class="col-lg-6 justify-content-center align-items-center p-5">
            <div>
                <img src="assets/login.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>