<div class="modal-dialog">
    <div class="modal-content">
      <div class="">
        <button type="button" class="btn-close float-end px-3 py-3" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class=" d-flex flex-column justify-content-between align-items-center mb-2">
          <i class="material-icons"><img [src]="icon" width="30px" alt=""></i>
        </div>
        <div class="modal-body w-100 text-center">
          <h4 class="">{{mainContent}}
          </h4>
  
        </div>
        <div class=" float-end">
          <button #test type="button" class="btn text-dark bg-light editBtn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger bg-danger px-4 m-2"
            (click)="applyAction()">{{btnConfirmContent}}</button>
        </div>
      </div>
    </div>
  </div>
  